* {
	margin: 0;
	padding: 0;
}

input,
textarea,
[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}

:root {
	--brand: #002D62;
	--brand-dark: #001329;
	--brand-light: #3470B7;
	--red: #D11242;
	--gray: #E5E5E5;
	--dark-gray: #868585;
	--white: #FFFFFF;
	--black: #000000;
	--shadow: 0px 0px 5px #000000;
	--radius: 2px;
}

::selection {
    background: var(--brand-light);
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

#app {
	position: relative;
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: "Montserrat";
	src: url("./Montserrat.ttf");
	font-display: swap;
}

@font-face {
	font-family: "Montserrat-Bold";
	src: url("./Montserrat-Bold.ttf");
	font-display: swap;
}

@font-face {
	font-family: "Montserrat-ExtraBold";
	src: url("./Montserrat-ExtraBold.ttf");
	font-display: swap;
}

body {
	box-sizing: border-box;
	font-family: "Montserrat";
	background: var(--white);
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
}

h1 {
	font-size: 42px;
	padding: 10px 0;
	color: var(--brand);
	font-family: "Montserrat-Bold";
}

h2	{
	font-size: 28px;
	padding: 30px 0;
	color: var(--brand);
	font-family: "Montserrat-Bold";
}

h3	{
	font-size: 21px;
	padding: 0;
	color: var(--red);
	font-family: "Montserrat-Bold";
	letter-spacing: 2px;
	text-transform: uppercase;
}

h6 {
	font-size: 13px;
	padding: 5px 0;
	color: var(--black);
	font-family: "Montserrat-ExtraBold";
}

p {
	font-size: 15px;
	padding: 10px 0 20px 0;
	line-height: 1.5;
	color: var(--black);
	font-family: "Montserrat";
}

.action-button {
	font-size: 21px;
	font-family: "Montserrat";
	padding: 15px 30px;
	display: inline-block;
	margin: 15px 0;
	text-align: center;
	color: var(--white);
	background: var(--brand);
	border-radius: var(--radius);
	text-decoration: none;
}

.regular-button {
	font-size: 21px;
	font-family: "Montserrat";
	padding: 15px 30px;
	display: inline-block;
	margin: 15px 0;
	text-align: center;
	color: var(--white);
	background: var(--dark-gray);
	border-radius: var(--radius);
	text-decoration: none;
	box-shadow: var(--shadow);
}

.action-button-small {
	font-size: 15px;
	font-family: "Montserrat";
	padding: 7px 15px;
	display: inline-block;
	margin: 7px 0;
	text-align: center;
	color: var(--white);
	background: var(--brand);
	border-radius: var(--radius);
	text-decoration: none;
}

.regular-button-small {
	font-size: 15px;
	font-family: "Montserrat";
	padding: 7px 15px;
	display: inline-block;
	margin: 7px 0;
	text-align: center;
	color: var(--white);
	background: var(--dark-gray);
	border-radius: var(--radius);
	text-decoration: none;
}

.jumbotron {
	background: var(--gray);
	padding: 25px;
	margin: 25px auto;
	text-align: center;
	border-radius: var(--radius);
}

a {
	text-decoration: none;
	color: var(--black);
	font-family: "Montserrat";
}

a:visited {
	text-decoration: none;
	color: var(--black);
}

a:active {
	text-decoration: none;
	color: var(--black);
}

.active {
	border-bottom: 3px solid var(--red);
}

button {
	background: none;
	border: none;
	outline: none;
	font-family: "Montserrat";
}