* {
	margin: 0;
	padding: 0;
}

input {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

input:focus {
	outline: none;
}

:root {
	--brand: #002D62;
	--brand-dark: #001329;
	--brand-light: #3470B7;
	--selection: #93B9E5;
	--red: #D11242;
	--gray: #E5E5E5;
	--dark-gray: #868585;
	--white: #FFFFFF;
	--black: #000000;
	--shadow: 0px 0px 5px #000000;
	--radius: 2px;
}

::selection {
    background: var(--selection);
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

#app {
	position: relative;
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: "NotoSans";
	src: url("./NotoSans-Regular.woff");
	font-display: swap;
}

@font-face {
	font-family: "NotoSans-Bold";
	src: url("./NotoSans-Bold.woff");
	font-display: swap;
}

body {
	box-sizing: border-box;
	font-family: "NotoSans";
	background: var(--white);
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
}

footer {
	display: grid;
	align-items: center;
	text-align: center;
	height: 100px;
	padding: 0 10px;
}

h1 {
	font-size: 42px;
	padding: 10px 0;
	color: var(--brand);
	font-family: "NotoSans-Bold";
}

h2	{
	font-size: 28px;
	padding: 30px 0;
	color: var(--brand);
	font-family: "NotoSans-Bold";
}

h3	{
	margin-top: 20px;
	padding: 10px 0;
	color: var(--red);
	font-family: "NotoSans-Bold";
	letter-spacing: 2px;
	text-transform: uppercase;
}

h6 {
	font-size: 12px;
	padding: 5px 0;
	color: var(--black);
	font-family: "NotoSans-Bold";
}

p {
	font-size: 16px;
	margin: 10px 0 20px 0;
	line-height: 1.5;
	color: var(--black);
	font-family: "NotoSans";
}

.action-button {
	font-size: 21px;
	font-family: "NotoSans";
	padding: 10px 20px;
	display: inline-block;
	margin: 10px 0;
	text-align: center;
	color: var(--white)!important;
	background: var(--brand);
	border-radius: var(--radius);
	text-decoration: none;
}

.action-button:visited {
	text-decoration: none;
	color: var(--white);
}

.action-button:active {
	text-decoration: none;
	color: var(--white);
}

.regular-button {
	font-size: 21px;
	font-family: "NotoSans";
	padding: 10px 20px;
	display: inline-block;
	margin: 10px 0;
	text-align: center;
	color: var(--white);
	background: var(--dark-gray);
	border-radius: var(--radius);
	text-decoration: none;
	box-shadow: var(--shadow);
}

.action-button-small {
	font-size: 15px;
	font-family: "NotoSans";
	padding: 7px 15px;
	display: inline-block;
	margin: 7px 0;
	text-align: center;
	color: var(--white);
	background: var(--brand);
	border-radius: var(--radius);
	text-decoration: none;
}

.action-button-small:visited {
	text-decoration: none;
	color: var(--white);
}

.action-button-small:active {
	text-decoration: none;
	color: var(--white);
}

.regular-button-small {
	font-size: 15px;
	font-family: "NotoSans";
	padding: 7px 15px;
	display: inline-block;
	margin: 7px 0;
	text-align: center;
	color: var(--white);
	background: var(--dark-gray);
	border-radius: var(--radius);
	text-decoration: none;
}

.jumbotron {
	background: var(--gray);
	padding: 25px;
	margin: 25px auto;
	text-align: center;
	border-radius: var(--radius);
}

a {
	text-decoration: none;
	color: var(--black);
	font-family: "NotoSans";
	font-size: 16px;
}

a:visited {
	text-decoration: none;
	color: var(--black);
}

a:active {
	text-decoration: none;
	color: var(--black);
}

.active {
	text-decoration: underline;
	text-decoration-color: var(--red)!important;
	text-decoration-thickness: 3px;
	text-decoration-skip-ink: none;
	text-decoration-skip: none;
}

button {
	background: none;
	border: none;
	outline: none;
	font-family: "NotoSans";
	cursor: pointer;
	font-size: 15px;
}

.bold-text {
	color: var(--white);
	background: var(--brand);
	font-weight: 800;
}

@media screen and (max-width: 450px) {
	.active-section {
		border-left: .5rem solid var(--red);
		margin-left: -1rem;
		padding-left: .5rem;
	}
}

@media screen and (min-width: 451px) and (max-width: 1100px) {
	.active-section {
		border-left: .5rem solid var(--red);
		margin-left: -2rem;
		padding-left: 1rem;
	}
}

@media screen and (min-width: 1101px) {
	.active-section {
		border-right: 4rem solid var(--red);
		margin-right: -6rem;
		padding-right: 2rem;
	}
}

button:disabled {
	cursor: not-allowed;
	opacity: .7;
}